body.splash {
    margin: 0;
    height: 100vh;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #c7d0dc;
    margin-bottom: 30px;
}

.start-btn {
    background-color: #c45bff;
    color: f6f8fb;
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.start-btn:hover {
    background-color: #a14de5;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
